.Cart {
  height: 50vh;
  width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  padding: 0 30px;
  box-sizing: border-box;
  overflow: scroll;
  border-left: 2px solid brown;
  border-bottom: 2px solid brown;
  z-index: 1000;
}

.FoodItem {
  border-bottom: 1px solid black;
}

.FoodItem:last-child {
  border: none;
}
