.CartButton {
  position: fixed;
  top: 10vh;
  right: 0;
  background: white;
  border: 1px solid brown;
  /* padding: 20px; */
  box-sizing: border-box;
  width: 70px;
  z-index: 1000;
}

.CartButton img {
  width: 100%;
  /* background: white; */
}

/* @media (min-width: 600px) {
  .CartButton {
    display: none;
  }
} */
