.FoodList {
  list-style: none;

  padding: 0;
  width: 80%;
}

@media (min-width: 40rem) {
  .FoodList {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
