.Modal {
  position: fixed;
  padding: 20px;
  background: white;
  min-height: 20vh;
  margin: 0 auto;
  width: 70%;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  transition: all 0.3s ease-out;
}
