.NavigationItem {
  margin-right: 2rem;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.NavigationItem:last-of-type {
  margin-right: 0;
}

.NavigationItem a {
  text-decoration: none;
  color: black;
}

@media (min-width: 500px) {
  .NavigationItem a {
    color: white;
  }
}
