.CreateFood {
  position: relative;
}

.CreateFood input,
.CreateFood label {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
}

.CreateFood input {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.CreateFood .Submit {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: green;
  margin-top: 10px;
  font-size: 1.2rem;
  color: white;
}

.X {
  position: absolute;
  top: 0;
  right: 0;
  background: brown;
  border: 1px solid red;
  color: white;
  padding: 5px;
  font-size: 1rem;
  width: 2rem;
}
